# Question

## What is the output of the following code ?

In [ ]:
import sqlite3

con = sqlite3.connect(":memory:")
cur = con.cursor()
cur.execute("CREATE TABLE city (name TEXT, country TEXT, population INTEGER)")
cur.execute("INSERT INTO city VALUES ('Vancouver', 'Canada', 672857)")
cur.execute("INSERT INTO city VALUES ('Paris', 'France', 12064575)")
con.commit()

a = cur.execute("SELECT country, name FROM city ORDER BY NAME").fetchall()
print(a[0][0])

## Answers

* a) France
* b) Vancouver
* c) Paris
* d) Canada